.noText {
	font-size: 0px;
}

.win #_mark {
	top: 23px;
}

#qa {
	display: inline-block;
	padding: 23px 30px 10px 7px;
}
.mobile #qa {
	padding: 18px 15px 15px 0px;
}
.content {
	margin: 0;
	padding: 0;
}

.card {
	font-family: arial;
	font-size: 20px;
	text-align: center;
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
}
.nightMode.card {
  background-color: #222;
}

#nameTag {
	font-size: 26px;
	width: 100%;
}

#nameTagTD {
	opacity: 0;
	border: none;
	vertical-align: top;
	padding-top: 4px;
	height: 30px;
	background: none;
}

#nameTag.disabled, #nameTagTD.disabled {
	font-size: 20px;
}
#nameTag.disabled::after, #nameTagTD.disabled::after {
  content: "???";
	font-size: 26px;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	color: #0000;
  user-select: none;
}

.hidden, .a {
	cursor: pointer;
}

td {
	height: 46px;
	width: 46px;
	min-width: 35px;
	text-align: center;
}

td:not(.e) {
	border: 2px solid black;
	margin: -1px;
}

.nightMode td {
	border-color: #aaa;
}

.main > td:nth-child(even):not(.e):not(.wrongPick):not(.revealed) {
	background: #88888830;
}

.nightMode .main > td:nth-child(even):not(.e):not(.wrongPick):not(.revealed) {
	background: #bb66ff22;
}

.hauptgr > td {
	border: none;
	color: #00f;
}

.nightMode .hauptgr > td {
	color: #88f;
}

.nebengr > td {
	border: none;
	color: rgb(0, 116, 184);
	vertical-align: top;
	padding-top: 1px;
}

.nightMode .nebengr > td {
	color: #00BBFFEC;
}

.p:not(.e), .p {
	border: none;
	color: #970;
}

.nightMode .p:not(.e), .nightMode .p {
	color: #db8;
}

.a.revealed {
	background: #0dfc;
}

.nightMode .a.revealed {
	background: #09fb;
	background: #0f09;
	outline-offset: -1px;
	outline: 2px solid #9f9;
}

.rightPick {
	background: #0f0a;
}

.wrongPick {
	background: #f00a;
}

.l:not(.e), .r:not(.e) {
	width: 42px;
}

.l:not(.e), .x:not(.e) {
	border-right: 5px solid #1af;
}

.nightMode .l:not(.e), .nightMode .x:not(.e) {
	border-right: 5px solid #1ad;
}

#scrollDiv {
	position: absolute;
	top: 100px;
	margin: 0px;
	height: 10px;
}



@media only screen and (min-height: 720px) {
	#Periodensystem {
		margin-top: 30px;
	}
}


/*
@media only screen and (max-height: 437px) {
	#Periodensystem > tbody > tr:first-child {
		display: none;
	}
}*/

@media only screen and (max-height: 490px) {
	.nebengr > td {
		height: 35px;
	}
}

@media only screen and (max-height: 380px) {
	#nameTag {
		display: none;
	}
	#nameTagTD {
		opacity: 1
	}
}
@media only screen and (max-width: 740px) {
	.card {
		background: pink;
		
	}
}